body {
  background-image: url(https://images.alphacoders.com/656/656720.jpg);
  background-size: cover;
}
.welcome_message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 8rem;
  color: darkred;
}
