body {
  background-color: rgb(36, 36, 36);
}

.home_primary {
  width: 90%;
  margin: auto;
  height: 100vh;
  opacity: 0.85;
}
.welcome_message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  width: 100%;
  background-color:darkblue;
  text-align: center;
  margin-top: 180px;
  padding: 20px 0px 20px 0px;
  border-radius: 25px;
}